*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    font-family: 'Source Sans 3', sans-serif;;
}

html {
  font-size: 16px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  text-decoration: none;
  color: black;
  margin: 0;
}

.container {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
  padding: 0px 12px;
}

.wrapper{
    position: relative;
    background: linear-gradient(90deg, #D53369 0%, #DAAE51 100%);
    width: 100%;
    height: 915px;
}

.waves{
 position: absolute;
 bottom:-8px;
}

.img{
 max-width: 100%;
}

.navbar{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 8px 0px 8px 16px;
}

.name_logo{
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
}

.logo{
 display: flex;
 align-items: center;
 gap:5px;
}

.link_nav{
 display: flex;
 align-items: center;
 gap: 44px;
}

.link_logo{
    font-size: 16px;
    font-weight: 400;
}

.link_logo:nth-child(1){
    font-weight: 700;
}

.link_button{
    border-radius: 9999px;
    border:#FFF;
    opacity: 0.75;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
    padding: 16px 31px;
    color: #1F2937;
    text-align: center;
    font-weight: 700;
}

.link_logo:hover{
 font-weight: 700;
}

.nav_hr{
    border-bottom: 1px solid #F3F4F6;
    opacity: 0.25;
}

.head{
 display: flex;
 align-items: center;
 padding: 24px 193px 24px 12px;
}

.head_text1{
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 18px;
}

h1{
    color: #FFF;
    font-size: 48px;
    margin-bottom: 16px;
    font-weight: 700;
}

.head_text2{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 55px;
}

.head_button{
    border-radius: 9999px;
    background: #FFF;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
    color: #1F2937;
    text-align: center;
    font-size: 16px;
    border: none;
    font-weight: 700;
    padding: 16px 32px;
}

.head_text{
 max-width: 605px;
}

.head{
 margin-top: 25px;
}

.map_1{
 display: flex;
 align-items: center;
 padding-right: 24px;
 gap: 24px;
}

.map_2{
 display: flex;
 align-items: center;
  padding: 48px 0px 24px 61px;
  gap: 86px;
}

.title{
    color: #1F2937;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.title_hr{
    border-radius: 4px 4px 0px 0px;
    opacity: 0.25;
    background: linear-gradient(90deg, #D53369 0%, #DAAE51 100%);
    height: 5px;
    width: 255px;   
    margin-bottom: 16px;
    margin-top: 8px;
    border: none;
}

.section_map{
 align-items: center;
 display: flex;
 flex-direction: column;
 padding: 64px 245px;
}

.text_map{
 max-width: 512px;
 padding: 20px 22px 142px 23px;
}

.text_map1{
    color: #1F2937;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.text_map2{
    color: #4B5563;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
}

.link_map{
    color: #EC4899;
    font-size: 16px;
    font-weight: 400;
    text-decoration-line: underline;
}

.card_grid{
    display: grid;
    grid-template-columns: repeat(3, 464px);
    gap: 48px;
    margin-top: 40px;
}

.box_card{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.middle{
 border-top: 1px solid #E5E7EB;
 padding-top: 55px;
 padding-bottom: 105px;
}

.card{
    border-radius:4px ;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
}

.text_card{
    padding-left: 24px;
    padding-right: 50px;
}

.text_card1{
    color: #4B5563;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.text_card2{
    color: #1F2937;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.text_card3{
    color: #1F2937;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}

.btn_card{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 9999px;
    background: linear-gradient(90deg, #D53369 0%, #DAAE51 100%);
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
    border: none;
    padding: 16px 31px;
}

.flex_btn3{
 display: flex;
 padding: 68px 24px 24px 24px;
 justify-content: flex-end;
}

.flex_btn2{
    display: flex;
    padding: 68px 24px 24px 24px;
    justify-content: center;
}

.flex_btn1{
    display: flex;
    padding: 68px 24px 24px 24px;
    justify-content: flex-start;
}

.pricing{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    padding-bottom: 65px;
}

.pricing_box{
    background: #F3F4F6;
}

.card_pr{
 border-radius:4px;
 background: #FFF;
 box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
 z-index: 1;
 width: 380px;
}

.price{
 display: flex;
 align-items: baseline;
 justify-content: center;
 gap: 3px;
 margin-top: 75px;
 margin-bottom: 24px;
}

.pricing_text1{
    color: #4B5563;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px; /* 120% */
    padding-top: 32px;
    padding-bottom: 35px;
    border-bottom: 4px solid #E5E7EB;
}

.pricing_text2{
    color: #4B5563;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E5E7EB;
}

.price_text1{
    color: #4B5563;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px; /* 120% */
}

.price_text2{
    color: #4B5563;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
}

.flex_btn{
    display: flex;
    padding-bottom: 45px;
    justify-content: center;
}

.pricing_card{
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
}

.card_pr:nth-child(2){
    width: 500px;
    height: 540px;
    z-index: 2;
}

.card_pr:nth-child(2) > .pricing_text1{
    color: #1F2937;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px; /* 120% */
    border-bottom: none;
}

.hr_pricing1{
    border-radius: 4px 4px 0px 0px;
    height: 4px;
    background: linear-gradient(90deg, #D53369 0%, #DAAE51 100%);
    border: none;
}

.card_pr:nth-child(2) > .pricing_text2{
    border-bottom: 1px solid #E5E7EB;
    color: #1F2937;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 24px; /* 150% */
}

.card_pr:nth-child(2) > .price{
margin-top: 45px;
}

.card_pr:nth-child(2) > .price > .price_text1{
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
}

.card_pr:nth-child(2) > .price > .price_text2{
    color: #1F2937;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
}

.pre_footer{
    background: linear-gradient(90deg, #D53369 0%, #DAAE51 100%);
    width: 100%;
    height: 550px;
}

.img2{
    width: 100%;
}

.call{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.text_call{
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px; /* 125% */
    padding-top: 30px;
    padding-bottom: 8px;
}

.hr_call{
    border-radius: 4px 4px 0px 0px;
    opacity: 0.25;
    background: #FFF;
    width: 256px;
height: 4px;
border: none;
}

.text_message{
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 37.5px; /* 125% */
    padding-top: 15px;
    padding-bottom: 40px;
    text-align: center;
}

.btn_call{
    color: #1F2937;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
    border-radius: 9999px;
background: #FFF;
box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
padding: 16px 32px;
border: none;
}

.logo_footer{
display: flex;
gap: 8px;
margin-right: 112px;
}

.footer_components{
display: flex;
padding: 24px 0px 48px 0px;
align-items: flex-start;
}

.landing{
    color: #DB2777;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
}

.lists{
display: flex;
}

ul{
list-style-type: none;
padding-right: 225px;
}

.ul1 > p, .ul2 > p, .ul3 > p, .ul4 > p{
    color: #6B7280;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-transform: uppercase;
    padding-bottom: 24px;
}

li{
    color: #1F2937;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding-bottom: 8px;
}

.burger {
    position: relative;
    width: 24px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    margin-right: 5px;
    display: none;
}

.input_burger {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #9D174D;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .input_burger:checked  ~ .link_nav{
    overflow: visible;
    height: 290px;
    padding-top: 30px;
  }

@media (max-width: 390.98px){
    .burger {
        display: block;
    }

    .input_burger:checked ~ .burger > span:nth-of-type(1){
        transform: rotate(57deg);
    }

    .input_burger:checked ~ .burger > span:nth-of-type(3){
        transform: rotate(-55deg);
    }


    .input_burger:checked ~ .burger > span:nth-of-type(2){
        display: none;
    }

    .head{
    flex-direction: column;
    padding: 0px;
    }

    h1{
    text-align: center;
    }

    .head_text2{
    font-size: 22px;
    }

    .head_text{
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    }
    
    .link_nav{
    overflow: hidden;
    position:fixed;
    flex-direction: column;
    transition: all 0.3s linear;
    width: 100%;
    top:50px;
    z-index: 5;
    backdrop-filter: blur(8px);
    gap: 27px;
    height: 0px;
    }

    .name_logo{
        font-size: 24px;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
    }

    .head_button{
    margin-bottom: 45px;
    }

    .head_text1, .head_text2, h1{
        text-align: center;
    }

    .map_1{
    flex-direction: column;
    padding: 0px;
    margin-bottom: 65px;
    }

    .map_2{
        flex-direction: column-reverse;
        padding: 0px;
        gap: 40px;
    }

    .logo{
    padding-left: 16px;
    }
    .section_map{
    padding: 58px 0px;
    }

    .card_grid{
       display: flex;
       flex-direction: column;  
    }

    .pricing_card{
        flex-direction: column;
    }

    .card_pr{
    width: 312px;
    }

    .card_pr:nth-child(2){
        width: 312px;
        z-index: 1;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .lists{
     flex-direction: column;
    }

    ul{
    display: flex;
    gap: 10px;
    padding-right: 0px;
    }

    .footer_components{
    flex-direction: column;
    gap: 24px;
    }

    li{
    padding-bottom: 24px;
    }

    .ul1 > p, .ul2 > p, .ul3 > p, .ul4 > p{
        padding-bottom: 8px;
    }

    .hero{
    width: 100%;
    }

    .notebook{
    max-width: 320px;
    }

    .map_img{
    width: 285px;
    }
    .text_map{
        max-width: 325px;
        padding: 24px 24px 55px 20px;
    }

    .pre_footer{
        height: 420px;
    }

    .landing{
     font-size: 24px;
     font-weight: 700;
    }

    .flex_btn{
    align-items: center;
    }

    .text_call{
    text-align: center;
    }

    .waves{
    bottom: -5px;
    }

    .nav > .container{
    padding: 0px;
    margin: 0px;
    }

    .navbar{
    padding: 8px 8px 8px 0px;
    }

    .link_logo{
        font-size: 32px;
    }
}